<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/car/save} " th:object="${car}" method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}">
    <p>Name</p>
    <input type="text" th:field="*{name}" >
    <br>
    <p>Price</p>
    <input type="number" th:field="*{price}" >
    <br>
    <p>Manufactor</p>
    <input type="text" th:field="*{manufactor}" >
<input type="submit" value="add" ></input>

</form>
</body>
</html>