<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/car/create}">
    Add Car
</a>
<table>
<thead>
<tr>
    <th>Name</th>
    <th>price</th>
    <th>manufactor</th>
    <th>Edit</th>
    <th>Remote</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr th:each="row,rowStat :${car}">
<td th:text="${row.getName()}"></td>
<td th:text="${row.getPrice()}"></td>
<td th:text="${row.getManufactor()}"></td>
<td><a th:href="@{/car/{id}/edit(id=${row.getId()})}">update</a></td>
<td><a th:href="@{/car/{id}/delete(id=${row.getId()})}">delete</a></td>
<td><a th:href="@{/car/{id}/show(id=${row.getId()})}">show</a></td>
</tr>
</tbody>
</table>
</body>
</html>